<form action="/edit-note/{{note._id}}" method="post">
    <input type="text" name="desc" placeholder="Update your note..." value="{{note.desc}}">
    <input type="submit" value="Submit" class="btn">
</form>

