<h1>
    Your notes:
</h1>

<ul>
    {{#each notes}}
        <li>
            <p>{{desc}}
                <a href="/note/{{_id}}">Edit note</a>
                <form action="/delete-note/{{_id}}" method="post">
                    <input type="submit" value="Delete Note" class="btn">
                </form>
            </p>
        </li>
    {{/each}}
</ul>